@tailwind base;
@tailwind components;
@tailwind utilities;

/* 60 9.1% 97.8%; /* stone-50 */
/* 60 4.8% 95.9%; /* stone-100 */
/* 20 5.9% 90.0%; /* stone-200 */
/* 24 5.7% 82.9%; /* stone-300 */
/* 30 6.3% 25.1%; /* stone-700 */
/* 12 6.5% 15.1%; /* stone-800 */
/* 20 14.3% 4.1%; /* stone-950 */
/* 13 81.1% 14.5%; /* orange-950 */
/* 19 67.9% 31.8%; /* logo-text-color */
/* 0 73.7% 41.8%; /* red-700 */
/* 0 84.2% 60.2%; /* red-500 */

@layer base {
  :root {
    --background: 60 9.1% 97.8%; /* stone-50 */
    --foreground: 20 14.3% 4.1%; /* stone-950 */

    --card: 60 9.1% 97.8%; /* stone-50 */
    --card-foreground: 20 14.3% 4.1%; /* stone-950 */

    --popover: 60 9.1% 97.8%; /* stone-50 */
    --popover-foreground: 20 14.3% 4.1%; /* stone-950 */

    --primary: 12 6.5% 15.1%; /* stone-800 */
    --primary-foreground: 60 4.8% 95.9%; /* stone-100 */

    --secondary: 20 5.9% 90%; /* stone-200 */
    --secondary-foreground: 12 6.5% 15.1%; /* stone-800 */

    --muted: 24 5.7% 82.9%; /* stone-300 */
    --muted-foreground: 30 6.3% 25.1%; /* stone-700 */

    --accent: 19 67.9% 31.8%; /* logo-text-color */
    --accent-foreground: 60 4.8% 95.9%; /* stone-100 */

    --destructive: 0 73.7% 41.8%; /* red-700 */
    --destructive-foreground: 60 4.8% 95.9%; /* stone-100 */

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 19 67.9% 31.8%; /* logo-text-color */

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%; /* stone-950 */
    --foreground: 60 4.8% 95.9%; /* stone-100 */

    --card: 20 14.3% 4.1%; /* stone-950 */
    --card-foreground: 60 4.8% 95.9%; /* stone-100 */

    --popover: 20 14.3% 4.1%; /* stone-950 */
    --popover-foreground: 60 4.8% 95.9%; /* stone-100 */

    --primary: 60 4.8% 95.9%; /* stone-100 */
    --primary-foreground: 12 6.5% 15.1%; /* stone-800 */

    --secondary: 12 6.5% 15.1%; /* stone-800 */
    --secondary-foreground: 60 4.8% 95.9%; /* stone-100 */

    --muted: 30 6.3% 25.1%; /* stone-700 */
    --muted-foreground: 24 5.7% 82.9%; /* stone-300 */

    --accent: 19 67.9% 31.8%; /* logo-text-color */
    --accent-foreground: 60 4.8% 95.9%; /* stone-100 */

    --destructive: 0 84.2% 60.2%; /* red-500 */
    --destructive-foreground: 60 4.8% 95.9%; /* stone-100 */

    --border: 12 6.5% 15.1%; /* stone-800 */
    --input: 12 6.5% 15.1%; /* stone-800 */
    --ring: 19 67.9% 31.8%; /* logo-text-color */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.active {
  background-color: hsl(var(--muted));
}

.active:hover {
  background-color: hsl(var(--muted) / 0.9);
}
